<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body class="bg-gray-900 min-h-screen flex flex-col ">
    <%- include("partials/header.ejs") %>

        <div class="text-center">
            <h1 class="text-5xl font-bold text-white mb-4">NASA Astronomy Picture of the Day</h1>
            
            <p class="text-gray-300 text-xl">Welcome to APOD!</p>
            <div class="mt-8 flex flex-col items-center">
                
                <div class="relative max-w-sm justify-center m-10">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                        </svg>
                    </div>
                    <input datepicker id="default-datepicker" type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Select date">
                </div>

                <form action="/apod-picture" method = "POST">
                    <button
                        class="bg-slate-600 hover:bg-slate-700 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-200 mx-4">
                        NASA APOD, Click Here
                    </button>
                </form>
                <%if(locals.text){%>
                    <h2 class="text-3xl font-semibold text-white mt-8"><%= title %></h2>
                    <p class="text-gray-400 mt-2"><%= date %></p>
                    <img class="mt-4 rounded-lg" src="<%= image %>" alt="NASA APOD">
                    <p class="text-gray-300 mt-4"><%= text %></p>
                <%}%>
                <p>

                </p>
            </div>
        </div>

</body>
<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
<%- include("partials/footer.ejs") %>

</html>